In [2]:
import pandas as pd
import numpy as np

In [4]:
data = np.random.rand(7, 5)
data

array([[0.83067011, 0.76032658, 0.63483486, 0.9782519 , 0.61408683],
       [0.28574313, 0.66462944, 0.41636629, 0.12644309, 0.99881724],
       [0.94764972, 0.57001592, 0.48516654, 0.98985601, 0.16241564],
       [0.56779869, 0.38262804, 0.04249187, 0.59905875, 0.22263533],
       [0.34977065, 0.07003834, 0.48142403, 0.64021401, 0.82772519],
       [0.43635083, 0.50468812, 0.00499181, 0.20605846, 0.928929  ],
       [0.69700585, 0.64692698, 0.62228119, 0.7697699 , 0.96901907]])

In [5]:
df = pd.DataFrame(data, columns=list("ABCDE"))
df

          A         B         C         D         E
0  0.830670  0.760327  0.634835  0.978252  0.614087
1  0.285743  0.664629  0.416366  0.126443  0.998817
2  0.947650  0.570016  0.485167  0.989856  0.162416
3  0.567799  0.382628  0.042492  0.599059  0.222635
4  0.349771  0.070038  0.481424  0.640214  0.827725
5  0.436351  0.504688  0.004992  0.206058  0.928929
6  0.697006  0.646927  0.622281  0.769770  0.969019

In [6]:
df['X'] = ['foo', 'bar', 'foo', 'bar', 'foo', 'foo', 'bar']
df

          A         B         C         D         E    X
0  0.830670  0.760327  0.634835  0.978252  0.614087  foo
1  0.285743  0.664629  0.416366  0.126443  0.998817  bar
2  0.947650  0.570016  0.485167  0.989856  0.162416  foo
3  0.567799  0.382628  0.042492  0.599059  0.222635  bar
4  0.349771  0.070038  0.481424  0.640214  0.827725  foo
5  0.436351  0.504688  0.004992  0.206058  0.928929  foo
6  0.697006  0.646927  0.622281  0.769770  0.969019  bar

In [10]:
df.set_index('X')

            A         B         C         D         E
X
foo  0.830670  0.760327  0.634835  0.978252  0.614087
bar  0.285743  0.664629  0.416366  0.126443  0.998817
foo  0.947650  0.570016  0.485167  0.989856  0.162416
bar  0.567799  0.382628  0.042492  0.599059  0.222635
foo  0.349771  0.070038  0.481424  0.640214  0.827725
foo  0.436351  0.504688  0.004992  0.206058  0.928929
bar  0.697006  0.646927  0.622281  0.769770  0.969019